/* Generel styling*/
* {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  box-sizing: border-box;
  margin: 0;
}

ul{
  list-style-type: none;
}

/* Menu */
header {
  background-color: #fff;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px #aaaaaa;
  grid-area: h;
}

.logo-burger {
  display: flex;
  align-items: center;
  margin-left: .5em;
  color: #707070;
}

.logo1 {
  width: 150px;
  height: 30px;
  background-color: #fff;
  position: absolute;
  top: 25px;
}

nav {
  width: 100%;
  justify-content: center;
}

#main-nav {
  display: flex;
  margin-right: .5em;
  list-style: none;
  justify-content: center;
  width: 100%;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

#main-nav a {
  display: block;
  margin-left: 1em;
  font-size: 14px;
  line-height: 1.4em;
  color: #707070;
  text-decoration: none;
  margin: 0 35px;
  font-family: Montserrat;
  font-weight: 500;
}

#main-nav a:hover {
  color: #000;
}

.active {
  color: white;
}

.hidden {
  display: none;
}

.social {
  position: absolute;
  right: 0;
  justify-content: flex-end;
  top: 30px;
}

.social2 {
  position: absolute;
  right: 30px;
  justify-content: flex-end;
  top: 30px;
}

.social2 img {
  width: 20px;
  height: 20px;
}

.social img {
  width: 20px;
  height: 20px;
}

/* shop */
.main-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kategori {
  display: grid;
  grid-area: k;
}

.main-img img {
  width: 100%;
  height: 100px;
}

.main-img-content {
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 500;
  position: absolute;
  display: flex;
  justify-content: center;
  color: white;
}

.article-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 2%;
}


.article-box {
  display: flex;
  flex: 1;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 10px;
}

.article-box img {
  width: 100%;
  height: 100%;
  margin-top: 35px;
}

.article-box .content {
  flex: 1;
  width: 100%;
  font-family: 'Baskerville';
}

.content>#row>div {
  width: 100%;
}

#row {
  display: flex;
  flex-direction: row;
}

#row>div>h1 {
  font-size: 16px;
  color: black;
  font-weight: 500;
  padding-top: 5px;
  display: flex;
  width: 100%;
}

#row>div>h2 {
  font-size: 12px;
  padding-bottom: 20px;
  color: #707070;
  font-weight: 300;
  display: flex;
}

#row>div>h3 {
  font-size: 12px;
  color: black;
  background-color: #f2e6de;
  padding: 8px 8px 8px 8px;
  font-weight: 300;
  width: 75px;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}

#row>a>h3 {
  font-size: 12px;
  color: black;
  background-color: #f2e6de;
  padding: 8px 8px 8px 8px;
  font-weight: 300;
  width: 75px;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}

#koeb {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: flex-end;
  margin-top: 8px;
  text-decoration: none;
}

#kropspleje:hover {
  background-color: #B2BDB0 padding: 2px 2px 2px 2px;
}

.flere-knap {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 100px;
  font-weight: 100 !important;
}

.flere-knap>a {
  display: flex;
  height: 35px;
  width: 20%;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: 13px;
  color: white;
  background-color: #B2BDB0;
  text-decoration: none;
}

.flere-knap>a>h3 {
  font-weight: 300 !important;
}

.sidebar {
  width: 300px;
  height: 300px;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 10px;
}

.sidebar>h1 {
  font-size: 17px;
  padding-bottom: 10px;
  color: 707070;
  font-family: Montserrat;
  font-weight: 500;
}

.streg {
  width: 120px;
  border-bottom: 1px solid;
  color: 707070;
}

.sidebar>h2 {
  font-size: 14px;
  padding-top: 17px;
  color: 707070;
  font-family: Montserrat;
  font-weight: 500;
}

.sidebar>ul>li>a {
  text-decoration: none;
  color: 707070;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 12px;
}

#kropspleje {
  background-color: #B2BDB0;
  padding: 3px 3px 3px 3px;
  color: white;
}

.sidebar>ul {
  padding-top: 10px;
  list-style-type: none;
}

.product-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}

.produkt-billede {
  padding-top: 120px;
  padding-right: 8%;
}

#handlot {
  width: 130%;
}

.product-content {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 120px;
}

.product-content>h5 {
  font-size: 10px;
  font-family: Montserrat;
  font-weight: 300;
  color: #707070;
  padding-bottom: 2px;
}

.product-content>h2 {
  font-size: 25px;
  font-family: 'Baskerville';
  font-weight: 500;
  padding-bottom: 5px;
}

.product-content>p {
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 300;
  color: #707070;
  line-height: 17px;
  padding-bottom: 15px;
  border-bottom: 1px solid;
  border-color: #707070;
}

.product-content>h4 {
  padding-top: 15px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-weight: 300;
  padding-bottom: 12px;
}

#kurv {
  font-size: 14px;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
  font-weight: 300;
  background-color: #B2BDB0;
  padding: 8px 8px 8px 8px;
  color: white;
}

.boxes {
  width: 65%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
}

.relaterede {
  font-family: Montserrat;
  font-size: 20px;
  padding: 4% 0;
  display: flex;
  justify-content: center;
}

.relaterede h3 {
  font-weight: 300;
}


/* Toggle button */

.toggler {
    width: 100%;
    display: none;
    text-align: center;
  }

  .buttons-guide{
    width: 105%;
    padding-top: 20px;
  }

  #button {
    padding: 0.5em 5em;
    text-decoration: none;
    width: 33%;
  }
  #effect {
    position: relative;
    width: 100%;
    padding: 0.4em;
    border: none;
    text-align: center;
  }

  #effect>ul>li>a{
    text-decoration: none;
    color: 707070;
    font-family: Montserrat;
    font-weight: 300;
    font-size: 12px;
  }

  #effect>ul>li>a:hover{
    color: #000;
  }

  #effect>ul>li>#aktiv-button:focus{
    padding: 5px 5px;
    background-color: #b2bdb0;
    color: #fff;
  }

  #effekt>ul {
    padding-top: 10px;
    list-style-type: none !important;
  }

  button, input[type="submit"], input[type="reset"] {
  	background: none;
  	color: inherit;
  	border: none;
  	padding: 0;
  	font: inherit;
  	cursor: pointer;
  	outline: inherit;
  }

  .custom-button{
    padding: 13px 20px !important;
    background-color: #B2BDB0 !important;
    width: 30%;
    text-align: center;
    font-size: 14px !important;
    color: #fff !important;
    font-weight: 500 !important;
    letter-spacing: 1px !important;
    transition: all 0.5s ease-in-out;
    font-family: Montserrat !important;
  }

  .custom-button:hover{
    box-shadow: 10px 11px 20px -6px rgba(0, 0, 0, 0.3);
    color: #000;
  }

/* Forside */
.main-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "h h h h h h h h h h h h"
    "j j j j j j j j j j j j"
    "k k k k k k k k k k k k"
    "l l l l l l l l l l l l"
    "p p p p p p p p p p p p"
    "s s s s s s s s s s s s"
    "i i i i i i i i i i i i"
    "f f f f f f f f f f f f";
}

#bg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: 30px;
  z-index: 100;
}

.kategori h2 {
  background-color: #B2BDB0;
  padding: 10px 8px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
  width: 15%;
}

.square {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 60px;
  flex-wrap: wrap;
}

.square a {
  text-decoration: none;
  padding: 3px;
}

.koekken {
  background-image: url(../images/koekken.jpg);
  width: 350px;
  height: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 23px;
  color: #fff;
  position: relative;
  text-shadow: 0px 0px 2px #707070;
}

.badevaerelse {
  background-image: url(../images/badevaerelse.jpg);
}

.stue {
  background-image: url(../images/stue.jpg);
}

.kontor {
  background-image: url(../images/kontor.jpg);
}

.koekken:hover {
  color: #fff;
  opacity: 0.8;
  text-shadow: 2px 2px 4px #000000;
}

.info {
  display: grid;
  grid-area: l;
  width: 100%;
  background-color: #B2BDB0;
  color: #fff;
  margin-top: 75px;
}

.citat {
  width: 58%;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.citat h4 {
  font-family: 'baskerville';
  font-weight: 300;
  font-size: 20px;
}

.place {
  display: flex;
  flex-direction: row;
}

.verticalline {
  border-left: 2px solid #fff;
  padding-right: 80px;
  height: 375px;
  margin-top: 50px;
}

.aabning {
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: Montserrat;
}

.aabning h4 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 20px;
}

.produkt-slider {
  display: grid;
  grid-area: p;
  margin-top: 70px;
  margin-bottom: 70px;
  justify-content: center;
}

.produkt-slider h2 {
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 25px;
}

.produkter {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  height: 100%;
  display: flex;
}

.sortiment {
  display: grid;
  grid-area: s;
}

.beauty {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fcfcfc;
}

.beauty img {
  width: 50%;
}

#align {
  flex-direction: column;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 50%;
}

#align h3 {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 25px;
  padding-bottom: 70px;
}

#align p {
  font-family: 'baskerville';
  font-weight: 500;
  font-size: 20px;
  padding: 0 15%;
  padding-bottom: 20px;
  z-index: 10;
}

.button1 p {
  font-family: Montserrat !important;
  font-weight: 300 !important;
  font-size: 16px !important;
  padding: 0 !important;
  text-align: center;
  padding: 15px 20px !important;
  background-color: #F2E6DE;
  width: 30%;
}

.button1 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.logo4 {
  position: absolute;
  z-index: 5;
}

.krydderier {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fcfcfc;
}

.krydderier img {
  width: 50%;
}

.instagram-feed {
  display: grid;
  grid-area: i;
  margin-top: 70px;
  margin-bottom: 70px;
}

.instagram-feed h2 {
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 50px;
}

.feed {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feed a {
  padding: 3px 5px;
}

/* Slider */
.slideshow-container {
  position: relative;
  margin: 0px;
  background-color: #F2F2F2;
  width: 100%;
  text-align: center;
  display: grid;
  grid-area: j;
  overflow: hidden;
}

.mySlides {
  position: relative;
}

.mySlides img{
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.mySlides h1 {
  position: absolute;
  text-align: center;
  top: 0px;
  font-size: 60px;
  font-family: 'baskerville';
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: #fff;
  font-weight: 500;
  text-shadow: 2px 2px 4px #000000;
}

.type p{
  font-size: 15px;
  font-family: Montserrat;
  color: #000;
  font-weight: 300;
}

.type{
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.type a{
  text-decoration: none;
  padding: 13px 25px;
  background-color: #f2e6de;
}

.type p:hover{
  color: #fff;
}

.active {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 3.5s;
}

@keyframes fade {
  from {
    opacity: 1
  }

  to {
    opacity: 1
  }
}

/* Vores Historie */
.main-wrapper2 {
  width: 100%;
  display: grid;
  background-color: #F2E6DE;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "m m m m m m m m m m m m"
    "a a a a a a a a a a a a"
    "w w w w w w w w w w w w"
    "z z z z z z z z z z z z"
    "f f f f f f f f f f f f";
}

.main-title {
  display: grid;
  grid-area: m;
  text-align: center;
  padding: 8% 0;
}

.section1 {
  display: grid;
  grid-area: a;
  position: relative;
  width: 100%;
  padding-bottom: 18%;
}

.section2 {
  display: grid;
  grid-area: w;
  position: relative;
  padding-bottom: 18%;
}

.section3 {
  display: grid;
  grid-area: z;
  position: relative;
  padding-bottom: 18%;
}

.main-title h2 {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 300;
}

.main-title h1 {
  font-family: 'baskerville';
  font-weight: 300;
  font-size: 38px;
}

.center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section1 img, .section2 img, .section3 img, .section4 img {
  width: 50%;
  height: 100%;
}

.section1 h4, .section2 h4, .section3 h4, .section4 h4 {
  position: absolute;
  background-color: #fff;
  padding: 18px 60px;
  left: 45%;
  top: 60%;
  font-size: 30px;
  font-family: 'baskerville';
  font-weight: 300;
  z-index: 100;
}

.section2 h4 {
  top: 60%;
  position: absolute;
}

.section3 h4 {
  top: 60%;
  position: absolute;
}

.flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.center img {
  width: 10% !important;
  height: auto !important;
  padding-bottom: 15px !important;
}

.center h3 {
  font-size: 25px;
  font-family: 'baskerville';
  font-weight: 700;
  text-align: center;
}

.center p {
  width: 50%;
  text-align: center;
  font-family: 'baskerville';
  padding-top: 30px;
  font-size: 20px;
  line-height: 24px;
}

/* Kontakt */
.main-wrapper3 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "m m m m m m m m m m m m"
    "u u u u u u u u u u u u"
    "y y y y y y y y y y y y"
    "f f f f f f f f f f f f";
}

.section4 {
  display: grid;
  grid-area: u;
  position: relative;
  width: 100%;
  padding-bottom: 10%;
}

.section4 h4 {
  top: 68%;
  position: absolute;
  background-color: #F2E6DE;
  color: #000;
}

#kontakt-h3 {
  font-weight: 500;
  padding-bottom: 30px;
}

#p-kontakt {
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 300;
}

.aabningstider {
  grid-area: y;
  display: grid;
  width: 100%;
  padding-bottom: 10%;
}

.aabningstider h4 {
  font-size: 25px;
  font-weight: 500;
  font-family: Montserrat;
  text-align: center;
  padding-bottom: 25px;
}

.flex2 {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.flex2 p {
  padding: 30px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 300;
}

/* Inspiration */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  padding: 3%;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Footer */
footer {
  grid-area: f;
  background-color: #B2BDB0;
  width: 100%;
  flex-direction: row;
  display: flex;
  height: 80px;
  align-items: center;
}

#footer {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  text-align: left;
  height: 100%;
  justify-content: space-evenly;
  width: 40%;
  align-items: center;
}

#footer a {
  text-decoration: none !important;
  font-family: Montserrat;
  font-weight: 300;
  color: #fff;
}

#footer li {
  display: block;
}

#footer li a {
  font-size: 14px;
}

#footer a:hover {
  color: #fff;
}

.copyright {
  background-color: #B2BDB0;
  width: 60%;
  margin-right: 30px;
  display: flex;
  justify-content: flex-end;
}

.copyright p {
  font-size: 10px;
  color: #fff;
  font-family: Montserrat;
}

@media all and (max-width: 759px) {

  /* Shop */
  .article-row {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-right: 0;
  }

  .article-box img, .article-box .content {
    width: 70%;
  }

  .toggler{
    display: block;
  }

  #effect{
    display: none;
  }

  .article-box {
    align-items: center;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .sidebar>ul, .streg, .sidebar h1 {
    display: none;
  }

  .sidebar h2 {
    display: none;
  }

  .flere-knap a {
    padding: 15px 25px;
    font-size: 10px;
    width: 40%;
  }

  /* Forside */
  .koekken {
    width: 400px;
    height: 400px;
  }

  .square {
    flex-direction: column;
    justify-content: center;
  }

  .square a {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .kategori h2 {
    width: 40%;
  }

  .place {
    flex-direction: column;
  }

  .citat {
    width: 100%;
    padding: 8% 3%;
    border-bottom: 2px solid #fff;
  }

  .verticalline {
    display: none;
  }

  .aabning {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    padding: 8% 0;
  }

  .produkter {
    flex-direction: column;
  }

  .arrow {
    display: none;
  }

  .responsive img, .article-box .responsive {
    width: 100% !important;
  }

  .beauty {
    flex-direction: column;
  }

  .beauty img {
    width: 100%;
  }

  .button1 {
    padding-bottom: 30px;
  }

  #align {
    padding: 50px 0;
  }

  .logo4 {
    padding-top: 150px;
  }

  .krydderier {
    flex-direction: column-reverse;
  }

  .krydderier img {
    width: 100%;
  }

  /* kontakt & Vores Historie */
  .flex {
    flex-direction: column;
  }

  .section1 img, .section2 img, .section3 img, .section4 img {
    width: 80%;
    height: auto;
  }

  .center {
    width: 100%;
    padding-bottom: 5%;
  }

  .section4 h4 {
    top: 75%;
    font-size: 20px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    padding: 18px 20px;
    left: 70%;
  }

  .section1 h4, .section3 h4, .section2 h4 {
    top: 75%;
    font-size: 20px;
    right: 5%;
    display: flex;
    justify-content: center;
    padding: 18px 20px;
    left: 70%;
    z-index: 100;
  }

  .section2 .reverse {
    flex-direction: column-reverse !important;
  }

  /* Produkt */
  .product-section {
    flex-direction: column;
  }

  .product-content {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  #handlot {
    width: 100%;
  }

  .produkt-billede {
    padding: 0px;
  }

  .boxes {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 50px;
  }

  /* footer */
  #footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;
  }

  footer {
    height: auto;
  }

  /* Inspiration */
  .row {
    padding: 9%;
  }
}

@media all and (min-width: 760px) and (max-width: 1000px) {

  /* Forside */
  .square {
    flex-wrap: wrap;
  }

  .toggler{
    display: block;
  }

  #effect{
    display: none;
  }

  .koekken {
    width: 300px;
    height: 300px;
  }

  .square a {
    display: flex;
    justify-content: center;
  }

  .kategori h2 {
    width: 30%;
  }

  .citat h4 {
    font-size: 16px;
  }

  .verticalline {
    padding-right: 40px;
    margin-top: 70px;
  }

  .aabning p {
    font-size: 14px;
    width: 80%;
    text-align: center;
  }

  .aabning h4 {
    font-size: 18px;
    width: 80%;
    justify-content: center;
    display: flex;
  }

  .arrow {
    display: none;
  }

  .produkter {
    flex-wrap: wrap;
    padding: 10px 20px;
  }

  .article-box {
    flex: auto;
  }

  .article-box img {
    height: auto;
  }

  .beauty {
    flex-direction: column;
  }

  .beauty img {
    width: 100%;
  }

  .button1 {
    padding-bottom: 30px;
  }

  #align {
    padding: 50px 0;
  }

  .logo4 {
    padding-top: 150px;
  }

  .krydderier {
    flex-direction: column-reverse;
  }

  .krydderier img {
    width: 100%;
  }

  /* Shop */
  .article-row {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-right: 0;
  }

  .article-box img, .article-box .content {
    width: 60%;
  }

  .article-box {
    align-items: center;
  }

  .sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .sidebar>ul, .streg, .sidebar h1 {
    display: none;
  }

  .sidebar h2 {
    display: none;
  }

  .flere-knap a {
    padding: 15px 25px;
    font-size: 10px;
    width: 40%;
  }

  /* Produkt */
  .product-section {
    flex-direction: column;
    align-items: center;
  }

  .product-content {
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 30px;
  }

  #handlot {
    width: 100%;
    height: 60%;
  }

  .produkt-billede {
    padding: 0px;
    justify-content: center;
    display: flex;
    width: 60%;
  }

  .boxes {
    width: 100%;
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 50px;
  }

  /* kontakt & Vores Historie */
  .flex {
    flex-direction: column;
  }

  .section1 img, .section2 img, .section3 img, .section4 img {
    width: 80%;
    height: auto;
  }

  .center {
    width: 100%;
    padding-bottom: 5%;
  }

  .section4 h4 {
    top: 75%;
    font-size: 20px;
    right: 0px;
    display: flex;
    justify-content: center;
    padding: 18px 20px;
    left: 70%;
  }

  .section1 h4, .section3 h4, .section2 h4 {
    top: 75%;
    font-size: 20px;
    right: 5%;
    display: flex;
    justify-content: center;
    padding: 18px 20px;
    left: 70%;
    z-index: 100;
  }

  .section2 .reverse {
    flex-direction: column-reverse !important;
  }

  /* footer */
  #footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 20px;
  }

  footer {
    height: auto;
  }

  /* Inspiration */
  .row {
    padding: 9%;
  }
}

/* Mobile menu - media queries*/
/* Mobile menu */
@media all and (max-width: 1200px) {

  /*HEADER NAV*/
  header {
    display: block;
    box-shadow: 0 0 0px #000;
  }

  .logo-burger {
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #fff;
  }

  .logo-burger label {
    display: block;
    font-size: 2em;
    cursor: pointer;
  }

  #toggle:checked+#main-nav {
    display: block;
  }

  #main-nav {
    display: none;
    padding: 0;
  }

  #main-nav li {
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  }

  #main-nav a {
    margin: 0;
    text-align: center;
    line-height: 50px;
  }

  #main-nav li:last-of-type {
    border-bottom: none;
  }

  .social,
  .social2 {
    justify-content: center;
    width: 100%;
    top: auto;
    line-height: 0px;
  }

  .social {
    padding-left: 40px;
    background-color: #fff;
  }

  .social2 {
    right: 30px;
  }
}

/*MEDIA QUERY TABLET AND ABOVE*/
@media all and (min-width: 1200px) and (max-width: 1500px) {

  /*HEADER NAV*/
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #logo-burger {
    margin-top: 27px;
    margin-bottom: 27px;
  }

  #logo {
    margin-top: .2em;
  }

  #main-nav {
    justify-content: center;
    width: 100%;
  }

  .hidden {
    display: none;
  }

  label {
    display: none;
  }
}
